<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>song</key>
		<string>重来</string>
		<key>singer</key>
		<string>黄小琥</string>
	</dict>
	<dict>
		<key>song</key>
		<string>早安</string>
		<key>singer</key>
		<string>豆花</string>
	</dict>
	<dict>
		<key>song</key>
		<string>当年情</string>
		<key>singer</key>
		<string>张国荣</string>
	</dict>
	<dict>
		<key>song</key>
		<string>我们</string>
		<key>singer</key>
		<string>陈奕迅</string>
	</dict>
	<dict>
		<key>song</key>
		<string>起风了</string>
		<key>singer</key>
		<string>买辣椒也用卷</string>
	</dict>
	<dict>
		<key>song</key>
		<string>白夜</string>
		<key>singer</key>
		<string>尹姝贻</string>
	</dict>
	<dict>
		<key>song</key>
		<string>大雨</string>
		<key>singer</key>
		<string>周深</string>
	</dict>
	<dict>
		<key>song</key>
		<string>你就不要想起我</string>
		<key>singer</key>
		<string>田馥甄</string>
	</dict>
	<dict>
		<key>song</key>
		<string>追光者</string>
		<key>singer</key>
		<string>岑宁儿</string>
	</dict>
	<dict>
		<key>song</key>
		<string>贝加尔湖畔</string>
		<key>singer</key>
		<string>李健</string>
	</dict>
	<dict>
		<key>song</key>
		<string>小幸运</string>
		<key>singer</key>
		<string>田馥甄</string>
	</dict>
	<dict>
		<key>song</key>
		<string>最后的倾诉</string>
		<key>singer</key>
		<string>韩磊</string>
	</dict>
	<dict>
		<key>song</key>
		<string>刚好遇见你</string>
		<key>singer</key>
		<string>李玉刚</string>
	</dict>
	<dict>
		<key>song</key>
		<string>彩虹天堂</string>
		<key>singer</key>
		<string>刘畊宏</string>
	</dict>
	<dict>
		<key>song</key>
		<string>不要对我再说爱</string>
		<key>singer</key>
		<string>林凡</string>
	</dict>
	<dict>
		<key>song</key>
		<string>夜空中最亮的星星</string>
		<key>singer</key>
		<string>逃跑计划</string>
	</dict>
	<dict>
		<key>song</key>
		<string>赤血长殷</string>
		<key>singer</key>
		<string>王凯</string>
	</dict>
	<dict>
		<key>song</key>
		<string>断桥残雪</string>
		<key>singer</key>
		<string>许嵩</string>
	</dict>
	<dict>
		<key>song</key>
		<string>愿得一人心</string>
		<key>singer</key>
		<string>李行亮</string>
	</dict>
	<dict>
		<key>song</key>
		<string>吻别</string>
		<key>singer</key>
		<string>张学友</string>
	</dict>
	<dict>
		<key>song</key>
		<string>借我一生</string>
		<key>singer</key>
		<string>水木年华</string>
	</dict>
</array>
</plist>
